body{
    background-image: url(nave.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.contenitore {
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 400px;
    margin: auto;
    margin-top: 50px;
}

.tabella{
    background-color:white;
    border: 4px double black;
    outline: 5px solid rgb(157, 192, 222);
    outline-offset: 3px;
    width: 400px;
    height: 400px;
    text-align: center;
    margin: auto;
}

.riga1{
    text-align: center;
    height: 10px;
    width: 10px;
}

.senza{
    border: 0px;
    color:rgb(60, 8, 9);
    font-family: sans-serif;
    font-weight: bold;
}

header h1{
    color:rgb(17, 68, 113);
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    margin-top: 40px;
}

table,td {
    border: 2px solid grey;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
    width: 35px;       
}

@keyframes lampeggia{
    100%{
        opacity: 1;
    }
    50%{
        opacity: 0.3;
    }
    0%{
        opacity: 1;
    }
}

caption{
    color: white;
    font-size: 18px;
    background-color: rgb(17, 68, 113);
    padding: 5px;
    opacity: 1;
    animation-name: lampeggia;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: 4;
    animation-timing-function: ease-in-out;

}

#menu {
    width: 910px;
    height: 60px;
    background-color: rgb(157, 192, 222);
    margin: auto;
    margin-top: 50px;
    display: flex;
    align-items: center;
    padding: 5px;
}

.colore{
    width: 35px;
    height: 35px;
    margin: 15px;   
}

.blue{
    background-color: rgba(64, 24, 239, 0.649);
    border: 3px double black;
}

.gold{
    background-color:rgb(255, 179, 0);
    border: 3px double black;
}

.green{
    background-color:rgb(18, 213, 18);
    border: 3px double black;
}

.brown{
    background-color: rgb(162, 5, 5);
    border: 3px double black;
}

.invisibile,.gioca,.spiegazioni,.annulla,.disegna{
    width: 150px;
    height: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    color: black;
    padding: 10px;
    margin-left: 16px;
    background-color: white;
    outline: 3px double black;
}

.annulla{
    margin-right: 13px;
}

.gioca{
    margin-right: 5px;
}

@media screen and (max-width: 768px) and (orientation: landscape){
    .tabella{
        width: auto;
        height: auto;
        margin: 0 40px;
    }
    #menu{
        margin-left: 40px;
    }
    header h1{
       text-align: center;
       color: rgb(157, 192, 222);
       width: 1000px;
    }
    body{
        background-image: none;
        background-color: rgb(34, 66, 97);
    }
    caption{
        background-color: rgb(157, 192, 222);
        color: rgb(34, 66, 97);
    }
}

@media screen and (max-width: 768px) and (orientation: portrait){
    #menu{
        margin-left: 40px;
    }
    header h1{
       text-align: center;
       color: rgb(157, 192, 222);
       width: 1000px;
    }
    body{
        background-image: none;
        background-color: rgb(34, 66, 97);
    }
    caption{
        background-color: rgb(157, 192, 222);
        color: rgb(34, 66, 97);
    }
}

@media screen and (max-width: 950px){
    #menu{
        margin-left: 40px;
    }
    header h1{
       text-align: center;
       color: rgb(157, 192, 222);
       width: 1000px;
    }
    body{
        background-image: none;
        background-color: rgb(34, 66, 97);
    }
    caption{
        background-color: rgb(157, 192, 222);
        color:  rgb(34, 66, 97);
    }
}
